<h1>edition stagiaire</h1>

@if(messageInfo!=""){
<tr class="alert alert-danger">
  {{
    messageInfo
  }}
</tr>
}
<div>
  <div class="form-group">
    <label class="input-large" for="id">Id:</label>
    <div class="bordered-box">{{ utilisateur.login }}</div>
  </div>
  <div class="form-group">
    <label class="input-large" for="login">Login:</label>
    <div class="bordered-box">{{ utilisateur.login }}</div>
  </div>
  <div class="form-group">
    <label class="input-large" for="nom">Nom:</label>
    <input
      id="nom"
      [(ngModel)]="utilisateur.nom"
      class="form-control input-large"
    />
  </div>
  <div class="form-group">
    <label class="input-large" for="prenom">Prenom:</label>
    <input
      id="prenom"
      [(ngModel)]="utilisateur.prenom"
      class="form-control input-large"
    />
  </div>

  <div class="form-group">
    <label class="input-large" for="email">email:</label>
    <input
      id="email"
      type="email"
      [(ngModel)]="utilisateur.email"
      class="form-control input-large"
    />
  </div>
  <div class="form-group">
    <label class="input-large" for="role">Role :</label>
    <select
      id="role"
      [(ngModel)]="utilisateur.role"
      class="form-control"
      [compareWith]="compareFn"
    >
      @for(f of valeurSelect ;track $index){
      <option [ngValue]="f">{{ f }}</option>
      }
    </select>
  </div>

  @if(utilisateur.formateur){
  <div lass="form-group">
    <label for="formateur">formateur:</label> {{ utilisateur.formateur.id }}
  </div>
  } @if(utilisateur.stagiaire){
  <div lass="form-group">
    <label for="stagiaire">satgiaire:</label> {{ utilisateur.stagiaire.id }}
  </div>
  }

  <div class="form-actions">
    <button class="btn btn-outline-info" (click)="save()">enregistrer</button>
    <a
      routerLink="/utilisateurs"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</div>
