<app-menu></app-menu>
<div>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Bienvenue sur Factory</h1>
    <div class="mx-auto col-lg-6">
      <p class="mb-4 lead">
        Dotez-vous des compétences de demain dans le digital et l’ingénierie
      </p>
      <div class="gap-2 mb-5 d-grid d-sm-flex justify-content-sm-center">
        <a
          routerLink="/nos-formations"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="px-4 btn btn-primary btn-lg me-sm-3"
          >Nos Formations
        </a>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="px-4 btn btn-outline-secondary btn-lg"
          >Documentation
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="container px-5">
        <img
          src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="mb-4 border shadow-lg img-fluid rounded-3"
          alt="Example image"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
<div class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Factory, l'école qui forme des professionnels du code</h1>
    <p class="lead">
      Avec des programmes innovants et immersifs, elle prépare les étudiants aux
      défis du monde technologique moderne, garantissant des compétences
      recherchées par les entreprises.
    </p>
  </div>
</div>
