<div class="container">
  <h1>Liste des compétences</h1>
  <div class="gap-5 m-auto d-flex flex-column">
    <div class="text-end">
      <a routerLink="/competence/edit" routerLinkActive="active"
        class="btn btn-link-primary btn-outline-primary btn-sm">nouvelle compétence</a>
    </div>
    <div class="search-bar">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Rechercher un ordinateur" [(ngModel)]="searchTerm"
          (input)="searchCompetences()" />
      </div>
    </div>
    <div class="container">
      @for(c of competences;track c.id){
      <div class="alert alert-dismissible alert-secondary">
        <p><strong>ID :</strong> {{ c.id }}</p>
        <p><strong>Nom :</strong> {{ c.nom }}</p>
        <div class="d-inline">
          <button class="p-2 btn btn-outline-danger btn-sm d-inline" (click)="delete(c.id!)">
            Supprimer
          </button>
        </div>
        <div class="p-2 d-inline">
          <button class="p-2 btn btn-outline-warning btn-sm d-inline" routerLink="/competence/edit/{{ c.id }}"
            routerLinkActive="active">
            éditer
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>