<div class="container">
  <div class="container-fluid">
    <a
      routerLink="/formations/edit"
      routerLinkActive="active"
      class="btn btn-link-primary btn-outline-primary btn-sm"
      >Nouvelle formation</a
    >
  </div>
  <p></p>
  <div class="container">
    @for(f of formations;track f.id){
    <div class="alert alert-dismissible alert-secondary">
      <p>{{ f.id }} : {{ f.titre }}</p>
      <p>{{ f.dateDebut | date : "dd/MM/yyyy" }}</p>
      <div>
        <div class="d-inline">
          <button
            class="btn btn-outline-danger btn-sm d-inline p-2"
            (click)="delete(f.id!)"
          >
            Supprimer
          </button>
        </div>
        <div class="d-inline p-2">
          <button
            class="btn btn-outline-warning btn-sm d-inline p-2"
            routerLink="/formations/edit/{{ f.id }}"
            routerLinkActive="active"
          >
            éditer
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
