<div class="container">
  <div class="gap-5 mt-5 d-flex flex-column">
    <h1 class="text-center">Edition d'un prérequis</h1>
    <div class="gap-3 m-auto w-100 d-flex flex-column" style="max-width: 650px">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          name="nom"
          [(ngModel)]="prerequis.nom"
        />
      </div>
      <div class="gap-3 mt-4 d-flex justify-content-end">
        <a
          routerLink="/prerequis"
          routerLinkActive="active"
          class="btn btn-outline-light"
          >Retour</a
        >
        <button (click)="save()" class="btn btn-outline-primary">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
