<div class="container">
  <h2>Liste des Formateurs</h2>
  <a routerLink="/utilisateurs" routerLinkActive="active" class="btn btn-link"
    >Ajouter</a
  >
</div>

@for(formateur of formateurs;track formateur.id) {

<div class="card mb-3">
  <div class="card-header">
    <Table class="w-100">
      <tr>
        <td>
          <h5 class="card-title">Formateur ID: {{ formateur.id }}</h5>
        </td>

        @if(formateur.cours && formateur.cours.length==0) {
        <td>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="delete(formateur.id!)"
          >
            Supprimer
          </button>
        </td>

        }
      </tr>
    </Table>
  </div>
  <div class="card-body">
    <!-- Utilisateur Infos -->
    <div>
      <table class="table table-sm">
        <th>ID</th>
        <th>Login</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <tr>
          <td>{{ formateur.utilisateur?.id }}</td>
          <td>{{ formateur.utilisateur?.login }}</td>

          <td>{{ formateur.utilisateur?.nom }}</td>

          <td>{{ formateur.utilisateur?.prenom }}</td>

          <td>{{ formateur.utilisateur?.email }}</td>
        </tr>
      </table>
    </div>

    <!-- Cours Infos -->
    
    <div>
      <table class="table">
        <tr>
          <td>
            @if(formateur.cours && formateur.cours.length>0) {
      <h6>
        <button class="btn btn-link p-0" (click)="inverse($index, 0)">
          Cours Infos
        </button>
      
      </h6>
    }
     @if(formateur.cours && formateur.cours.length<=0) {
      <h6>
        
          Cours Infos
      
      
      </h6>
    }
      </td>
      <td>
            <button
              class="btn btn-link p-0"
              (click)="affichageAjoutCours($index,formateur.id ?? 0)"
            >
              Ajout Cours
            </button>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          @if(indexAjoutCours==$index) 
          {
          <td>
            <div class="form-group">
    Cours :
    <select
      id="cours"
      [(ngModel)]="coursAjout"
      class="form-control"
     
    >
      @for(c of listcours ;track c.id ){
      <option [ngValue]="c">{{ c.titre }}</option>
      }
    </select>
  </div>
          </td>
          
          <td>
            <h6>
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="AjoutCours(formateur.id!)"
              >
                Valider
              </button>
            </h6>
          </td>
          <td>
            <h6>
              <button
                class="btn btn-outline-warning btn-sm"
                 (click)="affichageAjoutCours($index,formateur.id ?? 0)"
              >
                Annuler
              </button>
            </h6>
          </td>
          @if(messageCoursId==formateur.id){
          <tr class="alert alert-danger">
            {{
              messageCours
            }}
          </tr>
        }


          }
        </tr>
      </table>

      @if(showInfo[$index ][0]) {

      <table class="table table-sm">
        <th>Titre</th>
        <th>Date de début</th>
  
        

        @for(cours of formateur.cours;track cours.id) {
        <tr>
          <td>{{ cours.titre }}</td>
          <td>{{ cours.dateDebut | date : "dd/MM/yyyy" }}</td>
          <td> <h6><button
            class="btn btn-outline-danger btn-sm"
            (click)="effaceCours(cours.id ?? 0)"
          >
            Supprimer
          </button></h6></td>
   
          <!-- Ajoutez d'autres colonnes selon vos besoins -->
        </tr>
        }
      </table>
      }
    </div>
 

    <!-- Disponibilité Infos -->
    <div>
      <table class="table">
        <tr>
          <td>
            <button class="btn btn-link p-0" (click)="inverse($index, 1)">
              Disponibilité Infos
            </button>
          </td>
          <td>
            <button
              class="btn btn-link p-0"
              (click)="affichageAjoutEdition($index)"
            >
              Ajout Disponibilité
            </button>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          @if(indexAjoutDisponibilite==$index) 
          {
          <td>
            Date de début
            <input
              type="date"
              class="form-control"
              id="dateDebut"
              [(ngModel)]="disponibiliteFormateur.dateDebut"
            />
          </td>
          <td>
            Date de fin
            <input
              type="date"
              class="form-control"
              id="id"
              name="id"
              [(ngModel)]="disponibiliteFormateur.dateFin"
            />
          </td>
          <td>
            <h6>
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="AjoutDisponibilite(formateur.id!)"
              >
                Valider
              </button>
            </h6>
          </td>
          <td>
            <h6>
              <button
                class="btn btn-outline-warning btn-sm"
                (click)="affichageAjoutEdition($index)"
              >
                Annuler
              </button>
            </h6>
          </td>
          @if(messageDisponibliteId==formateur.id){
          <tr class="alert alert-danger">
            {{
              messageDisponibilite
            }}
          </tr>
        }


          }
        </tr>
      </table>
      @if(showInfo[$index ][1]) {
      <table class="table table-sm">
        <th>Date de début</th>
        <th>Date de fin</th>
        @for(disponibiliteFormateur of formateur.disponibiliteFormateur;track
        disponibiliteFormateur.id) {
        <tr>
          <td>{{ disponibiliteFormateur.dateDebut | date : "dd/MM/yyyy" }}</td>
          <td>{{ disponibiliteFormateur.dateFin | date : "dd/MM/yyyy" }}</td>
          <td> <h6><button
            class="btn btn-outline-danger btn-sm"
            (click)="effaceDisponibilite(disponibiliteFormateur.id ?? 0)"
          >
            Supprimer
          </button></h6></td>
        </tr>
        }
      </table>
      }
    </div>

    <!-- Compétence Infos -->
    <div>
<table class="table">
        <tr>
          <td>

      <h6>
        <button class="btn btn-link p-0" (click)="inverse($index, 2)">
          Compétence Infos
        </button>
      </h6>
      </td>
      <td>
            <button
              class="btn btn-link p-0"
              (click)="affichageAjoutCompetence($index,formateur.id ?? 0)"
            >
              Ajout compétence
            </button>
          </td>
      </tr>
      
      </table>
<table>
        <tr>
          @if(indexAjoutComptence==$index) 
          {
           <div class="form-group">
    Competence :
    <select
      id="competence"
      [(ngModel)]="competenceAjout"
      class="form-control"
     
    >
      @for(c of listcomptence ;track c.id ){
      <option [ngValue]="c">{{ c.nom }}</option>
      }
    </select>
  </div>
          <td>
            <h6>
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="AjoutCompetence(formateur.id!)"
              >
                Valider
              </button>
            </h6>
          </td>
          <td>
            <h6>
              <button
                class="btn btn-outline-warning btn-sm"
                (click)="affichageAjoutEdition($index)"
              >
                Annuler
              </button>
            </h6>
          </td>
          @if(messageDisponibliteId==formateur.id){
          <tr class="alert alert-danger">
            {{
              messageDisponibilite
            }}
          </tr>
        }


          }
        </tr>
      </table>
      
      @if(showInfo[$index ][2]) {
      <table class="table table-sm">
        @for(competenceFormateur of formateur.competenceFormateur;track
        competenceFormateur.id) {
        <tr>
          <td>{{ competenceFormateur.id }}</td>
          <td>{{ competenceFormateur.competence?.nom }}</td>
          <td> <h6><button
            class="btn btn-outline-danger btn-sm"
            (click)="effaceCompetenceFormateur(competenceFormateur.id ?? 0)"
          >
            Supprimer
          </button></h6></td>
        </tr>
        }
      </table>
      }
    </div>
  </div>
</div>
}
