<p>edit-cours works!</p>
<div>
  <div class="form-group">
    <label for="titre">Titre</label>
    <input
      type="text"
      class="form-control"
      id="titre"
      name="titre"
      [(ngModel)]="cours.titre"
    />
  </div>
  <div class="form-group">
    <label for="dateDebut">Date début</label>
    <input
      type="date"
      class="form-control"
      id="dateDebut"
      name="dateDebut"
      [(ngModel)]="cours.dateDebut"
    />
  </div>

  <div class="form-group">
    <label for="formation">formation:</label>
    <select
      id="formation"
      [(ngModel)]="cours.formation"
      class="form-control"
      [compareWith]="compareFn"
    >
      @for(f of formationsObservable|async ;track f.id ){
      <option [ngValue]="f">{{ f.titre }}</option>
      }
    </select>
  </div>

  <button (click)="save()">Enregistrer</button>
  <a routerLink="/cours" routerLinkActive="active" class="btn btn-link"
    >Retour</a
  >
</div>
