<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div>
        @if(logged){
        <button (click)="logout()" class="btn btn-link">deconnexion</button>
        }@else{
        <span
          ><a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >connexion</a
          ></span
        ><br />
        <span
          ><a
            routerLink="/inscription"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >inscription</a
          ></span
        >
        }
      </div>
    </div>
  </div>
</nav>
