<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="navbar-brand nav-link"
      >Dashboard</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            routerLink="/formations"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link active"
            >Formations
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/planning"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link active"
            >Planning
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Gestion</a
          >
          <div class="dropdown-menu">
            <a
              routerLink="/formateurs"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Formateurs
            </a>
            <a
              routerLink="/stagiaires"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Stagiaires
            </a>
            <div class="dropdown-divider"></div>
            <a
              routerLink="/ordinateur"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Ordinateur
            </a>
            <a
              routerLink="/videoprojecteur"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >videoprojecteur
            </a>
          </div>
        </li>
      </ul>
      <div class="my-3">
        <button (click)="logout()" class="btn btn-outline-primary btn-sm">
          déconnexion
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="container my-4">
  <router-outlet></router-outlet>
</div>
