<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="navbar-brand nav-link"
      >Dashboard</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        @if(role == 'ROLE_ADMINISTRATEUR' || role == 'ROLE_FORMATEUR'){
        <li class="nav-item">
          <a
            routerLink="/planning"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link active"
            >Planning
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/formations"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link active"
            >Formations
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        } @if(role == 'ROLE_ADMINISTRATEUR'){
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Gestion</a
          >
          <div class="dropdown-menu">
            <a
              routerLink="/utilisateurs"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Utilisateurs
            </a>
            <ul>
              <a
                routerLink="/formateurs"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="dropdown-item"
                >Formateurs
              </a>

              <a
                routerLink="/stagiaires"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="dropdown-item"
                >Stagiaires
              </a>
            </ul>
            <div class="dropdown-divider"></div>
            <a
              routerLink="/competence"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Compétences
            </a>
            <a
              routerLink="/salle"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Salle
            </a>
            <a
              routerLink="/materiel"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Matériels</a
            >
            <a
              routerLink="/matieres"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Matières
            </a>
            <a
              routerLink="/ordinateur"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Ordinateurs
            </a>
            <a
              routerLink="/videoprojecteur"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="dropdown-item"
              >Videoprojecteurs
            </a>
          </div>
        </li>
        }
      </ul>
      <div class="my-3 text-white">
        @if (logged) {
        <span class="me-3">Profil connecté : {{ login }}</span>
        <button (click)="logout()" class="btn btn-outline-primary btn-sm">
          Déconnexion
        </button>
        }
      </div>
    </div>
  </div>
</nav>
<div class="my-2 mx-4">
  <h6>Bonjour {{ prenom }}</h6>
</div>
<div class="container my-4">
  <router-outlet></router-outlet>
</div>
